<!-- # SOURCE: https://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Change Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/account.css" rel="stylesheet">
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="login">Login</a></li>
            <li role="presentation" class="active"><a href="changePassword">Change Password</a></li>
            <li role="presentation"><a href="createAccount">Sign Up</a></li>
            <li role="presentation"><a href="messages">Forum</a></li>
            <li role="presentation"><a href="search">Search</a></li>
          </ul>
        </nav>
      </div>
      <br><br><br><br>
 
      <div class="jumbotron">
        <h1>Change Password</h1>
        <form class="form-account" method="POST" action="/passwordChange">
          <label for="username" class="sr-only">Username</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
          <label for="oldPassword" class="sr-only">Old Password</label>
          <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password" required>
          <label for="newPassword" class="sr-only">New Password</label>
          <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" required>
          
          <button id="passwordChange" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        </form>
      </div>

      <div id="pwordChangeSuccess">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/account.js"></script>
  </body>
</html>