<!-- SOURCE: https://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="login">Login</a></li>
                    <li role="presentation"><a href="createAccount">Sign Up</a></li>
                    <li role="presentation"><a href="messages">Forum</a></li>
                </ul>
            </nav>
        </div>
        <br><br>
 
        <div class="jumbotron">
            <h1>Create an Account</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="createAccount" role="button">Sign up today</a>
            </p>
        </div>
    </div>
</body>
 
</html>